.footer{
    display: flex;
    
    padding-right: 15px;
    padding-top: 20px;
    background:#353535 ;
    padding: 25px;
    color:#ffffff ;
    overflow: hidden;

    
    
    
    
    .li-footer{ 
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 30px;
    }
    .omf-footer{
        margin: 0%;
        padding-bottom:20px;
        font-family: "Shrikhand", cursive;
        font-size: 130%;
    }

    .fa-utensils{
        padding-right: 15px;
    }
    
    .fa-handshake{
        padding-right: 10px;
        rotate: -20deg;
    }

}

.footer-contact-deco-none{
    text-decoration: none;
    &:visited{color: white;};
}