.footer{
    display: flex;  
    padding-right: 15px;
    padding-top: 20px;
    background:#353535 ;
    padding: 25px;
    color:#ffffff ;
    overflow: hidden;

    .li-footer{ 
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 30px;
    }
    .omf-footer{
        margin: 0%;
        padding-bottom:20px;
        font-family: "Shrikhand", cursive;
        font-size: 130%;
    }

    .fa-utensils{
       
        width: 20px;
        align-items: center;
        justify-content: center;
        padding-left: 7px;
        padding-right: 5px;
    }
    
    .fa-handshake-angle{
       
        width: 20px;
        padding-right: 12px; 
    }

    li:hover{
        cursor: pointer;
    }
}

.footer-contact-deco-none{
    text-decoration: none;
     color: white;
}