/*@media only screen and (min-width: 645px){
    .tuto{
        background: red; 
        flex-direction: row; 
        flex-wrap: wrap;
    }
    .tit-fonc{
        width: 100%;
    }
    .fonc-p1{
        background: purple;
        width:10%;
    }
}*/