.title-omf-hp{
    @include title-omf;
    height: 65px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Shrikhand", cursive;
    font-size: 180%;
    @include background-white;
    
}

.title-omf{
    
    position: relative;
    @include title-omf;
    display: flex;
    height: 65px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Shrikhand", cursive;
    font-size: 180%;
    @include background-white;
    align-items: center;
    justify-content: space-around;
    padding-right: 30%;
    .i,.a{
        display: flex;
        align-items: center;
        justify-content: left;
        
        text-decoration: none;
        color: black;
 
    }
    
}