@mixin responsive-button-order {
    
    @media screen and (min-width: 540px) {

        .button-place-order{
            .click{
             width: 300px;
            }
         }

    }
}

@mixin responsive-pages-main {

    @media screen and (min-width: 715px) {

        .top-pic-page{
            height: 335px;
       
        }
        
        .main{
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 290px;
          justify-content: space-between;
          padding-left: 25px;
          padding-right: 25px;
        
          
        }
        .title-page{
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: 120%;
            padding: 36px 0 0 15px ;  
          }
     
          .starter, .main-course, .dessert{
              display: flex;
              flex-direction: column;
              width: 48%;

          }
        
        .nav-button{
          padding: 20px 0 50px 0;
          @include background-grey;
        }

    }


    @media screen and (min-width: 950px) {

        .top-pic-page{
            height: 500px;
            top:0;
        }

        .title-page{
            justify-content: center;

        }
        .name-rest{
            padding-right: 75px;
        }

        .main{ 
          margin-top: 420px;  
         
         
    }
    }

    @media screen and (min-width: 1200px) {

        .top-pic-page{
            height: 500px;
       
        }
        .title-page{
            justify-content: center;

        }
        .name-rest{
            padding-right: 75px;
        }

        
        .main{
          flex-direction: row;
          flex-wrap: wrap;
          margin-top: 420px;
          justify-content: space-between;
          padding-left: 25px;
          padding-right: 25px;
        
          
        }
        .title-page{
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 120%;
            padding: 36px 0 0 15px ;  
          }
     
          .starter, .main-course, .dessert{
              display: flex;
              flex-direction: column;
              width: 32%;

          }
        
       
    }

















        









}