@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&family=Roboto&family=Shrikhand&display=swap");
/*@import url("https://kit.fontawesome.com/e440ae1359.js");*/
* {
  font-family: "Roboto", sans-serif;
}

h1, h5 {
  font-family: "Shrikhand", cursive;
}

h3, h2, h4 {
  font-family: "Roboto", sans-serif;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* MIXINS HOMEPAGE VERSION MOBILE */
.size-body-homepage {
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.intro {
  height: 285px;
  background-color: #f6f6f6;
}

.research-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #eaeaea;
}
.research-loc .i-loc {
  padding-right: 30px;
}

.reservation {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.reservation .tit-reser {
  height: 80px;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 145%;
  text-align: center;
}
.reservation p {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.tuto {
  display: flex;
  flex-direction: column;
  height: 440px;
  margin-bottom: 50px;
  padding: 0 20px 0 20px;
}
.tuto .tit-fonc {
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 150%;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 35px;
  margin: 0;
}
.tuto .fonc-p1, .tuto .fonc-p2, .tuto .fonc-p3 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 75%;
  height: 75px;
  margin: 0 0 20px 10px;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 2px #e5e5e5;
  padding-right: 20%;
  justify-content: left;
  font-weight: bold;
  display: flex;
  width: 78%;
}
.tuto .fonc-p1:hover, .tuto .fonc-p2:hover, .tuto .fonc-p3:hover {
  background: #f5edff;
  cursor: pointer;
}
.tuto .fonc-p1 .num-fonc-tuto, .tuto .fonc-p2 .num-fonc-tuto, .tuto .fonc-p3 .num-fonc-tuto {
  display: flex;
  position: absolute;
  left: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #9356dc;
  color: #ffff;
}
.tuto .fonc-p1 .fa-list, .tuto .fonc-p1 .fa-store, .tuto .fonc-p1 .fa-mobile-alt, .tuto .fonc-p2 .fa-list, .tuto .fonc-p2 .fa-store, .tuto .fonc-p2 .fa-mobile-alt, .tuto .fonc-p3 .fa-list, .tuto .fonc-p3 .fa-store, .tuto .fonc-p3 .fa-mobile-alt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  padding-left: 15%;
  padding-right: 8%;
  color: #7e7e7e;
}

.resto {
  background-color: #f6f6f6;
  padding: 55px 20px 65px 20px;
  display: flex;
  flex-direction: column;
}
.resto .tit-resto {
  width: 100%;
  height: 30px;
  margin-bottom: 0;
  font-size: 150%;
  font-weight: bolder;
}

.card-hp-3, .card-hp-4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  box-shadow: 5px 5px 2px #e5e5e5;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.card-hp-3 .sticker-new, .card-hp-4 .sticker-new {
  display: flex;
  width: 100%;
  height: 170px;
  border-radius: 10px;
  justify-content: right;
}
.card-hp-3 .new-menu, .card-hp-4 .new-menu {
  width: 0;
  height: 0;
  visibility: hidden;
}
.card-hp-3 .pic-main, .card-hp-4 .pic-main {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card-hp-3 .description, .card-hp-4 .description {
  display: flex;
  flex-direction: row;
  width: 92%;
  height: 75px;
  background: #ffffff;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  justify-content: space-between;
}
.card-hp-3 .text-description, .card-hp-4 .text-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: center;
  justify-content: space-between;
}
.card-hp-3 .name-rest-hp, .card-hp-4 .name-rest-hp {
  display: flex;
  width: 100%;
  margin: 0;
}
.card-hp-3 .localisation, .card-hp-4 .localisation {
  display: flex;
  width: 100%;
}
.card-hp-3 .i-card, .card-hp-4 .i-card {
  cursor: pointer;
  display: block;
  justify-content: center;
  align-content: center;
  padding-right: 10px;
  padding-top: 5px;
  width: 33px;
  height: 31px;
  color: white;
  -webkit-text-stroke: 2px #000000;
}
.card-hp-1, .card-hp-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 245px;
  margin-top: 20px;
  box-shadow: 5px 5px 2px #e5e5e5;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.card-hp-1 .pic-main, .card-hp-2 .pic-main {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card-hp-1 .sticker-new, .card-hp-2 .sticker-new {
  display: flex;
  width: 100%;
  height: 170px;
  border-radius: 10px;
  justify-content: right;
}
.card-hp-1 .new-menu, .card-hp-2 .new-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  color: #008766;
  background-color: #99e2d0;
}
.card-hp-1 .description, .card-hp-2 .description {
  display: flex;
  flex-direction: row;
  width: 92%;
  height: 75px;
  background: #ffffff;
  padding: 15px;
  border-radius: 0px 0px 20px 20px;
  justify-content: space-between;
}
.card-hp-1 .text-description, .card-hp-2 .text-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  align-items: center;
  justify-content: space-between;
}
.card-hp-1 .name-rest-hp, .card-hp-2 .name-rest-hp {
  display: flex;
  width: 100%;
  margin: 0;
}
.card-hp-1 .localisation, .card-hp-2 .localisation {
  display: flex;
  width: 100%;
}
.card-hp-1 .i-card, .card-hp-2 .i-card {
  cursor: pointer;
  justify-content: center;
  align-content: center;
  padding-right: 10px;
  padding-top: 5px;
  width: 33px;
  height: 31px;
  color: white;
  -webkit-text-stroke: 2px #000000;
}
/*@media only screen and (min-width: 500px){
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        padding-bottom: 30px;
       }
       .button-nav{
           display: flex;
           flex-direction: row;
           margin: 0;
            margin-top: 15px;
            width: 500px;
            justify-content: center;
            .button-explore-home{
            width: 320px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            height: 60px;
            background: linear-gradient($secondary,$primary);
            border-radius: 30px;
            color: white;
            @include box-shadow; 
            &:hover{
             @include hover-ligthen-boxshadow;
            }



        }   
        }
}

*/
@media only screen and (min-width: 750px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding-bottom: 30px;
  }

  .button-nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 15px;
    width: 500px;
    justify-content: center;
  }
  .button-nav .button-explore-home {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    background: linear-gradient(#ff79da, #9356dc);
    border-radius: 30px;
    color: white;
    box-shadow: 5px 5px 2px #e5e5e5;
  }
  .button-nav .button-explore-home:hover {
    filter: brightness(1.2);
    box-shadow: 10px 7px 7px #999999;
  }
  .button-nav .button-explore-home .span-button-home {
    font-size: 110%;
    text-align: center;
  }

  .tuto {
    flex-direction: row;
    flex-wrap: wrap;
    height: 350px;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .tuto .tit-fonc {
    padding-bottom: 15px;
  }
  .tuto .fonc-p1, .tuto .fonc-p2, .tuto .fonc-p3 {
    justify-content: left;
    padding-right: 10px;
    width: 45%;
  }

  .resto {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tit-resto {
    padding-bottom: 25px;
    margin-top: 0;
  }

  .card-hp-1, .card-hp-2, .card-hp-3, .card-hp-4 {
    width: 48%;
    height: 250px;
  }
}
@media only screen and (min-width: 1000px) {
  .tuto {
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .tuto .tit-fonc {
    justify-content: center;
    padding-bottom: 15px;
  }
  .tuto .fonc-p1, .tuto .fonc-p2, .tuto .fonc-p3 {
    margin: 0;
    padding-right: 10px;
    padding-left: 15px;
    width: 30%;
  }
  .tuto .num-fonc-tuto {
    position: absolute;
    right: 0px;
  }

  .resto {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tit-resto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 0;
  }

  .card-hp-1, .card-hp-2, .card-hp-3, .card-hp-4 {
    display: flex;
    width: 48%;
    height: 320px;
    margin-bottom: 35px;
    box-shadow: 5px 10px 10px #dbd9d9;
  }
  .card-hp-1 .pic-main, .card-hp-2 .pic-main, .card-hp-3 .pic-main, .card-hp-4 .pic-main {
    height: 100%;
  }
  .card-hp-1 .sticker-new, .card-hp-2 .sticker-new, .card-hp-3 .sticker-new, .card-hp-4 .sticker-new {
    height: 240px;
  }
  .card-hp-1 .sticker-new .new-menu, .card-hp-2 .sticker-new .new-menu, .card-hp-3 .sticker-new .new-menu, .card-hp-4 .sticker-new .new-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    color: #008766;
    background-color: #99e2d0;
  }
}
@media only screen and (min-width: 1000px) and (min-width: 1600px) {
  .resto {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tit-resto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 0;
  }

  .card-hp-1, .card-hp-2, .card-hp-3, .card-hp-4 {
    display: flex;
    width: 24%;
    height: 320px;
    margin-bottom: 35px;
  }
  .card-hp-1 .pic-main, .card-hp-2 .pic-main, .card-hp-3 .pic-main, .card-hp-4 .pic-main {
    height: 100%;
  }
  .card-hp-1 .sticker-new, .card-hp-2 .sticker-new, .card-hp-3 .sticker-new, .card-hp-4 .sticker-new {
    height: 240px;
  }
  .card-hp-1 .sticker-new .new-menu, .card-hp-2 .sticker-new .new-menu, .card-hp-3 .sticker-new .new-menu, .card-hp-4 .sticker-new .new-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    color: #008766;
    background-color: #99e2d0;
  }
}
/*------------------button----------------------*/
.button-nav {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.button-nav .button-explore-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 320px;
  width: 65%;
  height: 60px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 7px 0px #e5e5e5;
}
.button-nav .button-explore-home:hover {
  filter: brightness(1.2);
  box-shadow: 5px 7px 0px #999999;
}
.button-nav .button-explore-home .span-button-home {
  font-size: 110%;
  text-align: center;
}

.button-place-order {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.button-place-order .click {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 300px;
  width: 65%;
  height: 60px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  color: white;
  box-shadow: 5px 7px 0px #e5e5e5;
}
.button-place-order .click:hover {
  filter: brightness(1.2);
  box-shadow: 5px 7px 0px #999999;
}
.button-place-order .click .span-button-order {
  font-size: 110%;
  text-align: center;
}

/*------------------button----------------------*/
.button-nav {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.button-nav .button-explore-home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 320px;
  width: 65%;
  height: 60px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 7px 0px #e5e5e5;
}
.button-nav .button-explore-home:hover {
  filter: brightness(1.2);
  box-shadow: 5px 7px 0px #999999;
}
.button-nav .button-explore-home .span-button-home {
  font-size: 110%;
  text-align: center;
}

.button-place-order {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.button-place-order .click {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  max-width: 300px;
  width: 65%;
  height: 60px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  color: white;
  box-shadow: 5px 7px 0px #e5e5e5;
}
.button-place-order .click:hover {
  filter: brightness(1.2);
  box-shadow: 5px 7px 0px #999999;
}
.button-place-order .click .span-button-order {
  font-size: 110%;
  text-align: center;
}

.title-omf-hp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Shrikhand", cursive;
  font-size: 180%;
  background: #ffffff;
}

.title-omf {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 65px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Shrikhand", cursive;
  font-size: 180%;
  background: #ffffff;
  align-items: center;
  justify-content: center;
}
.title-omf .i, .title-omf .a {
  display: flex;
  align-items: center;
  position: absolute;
  left: 25px;
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  padding-right: 15px;
  padding-top: 20px;
  background: #353535;
  padding: 25px;
  color: #ffffff;
  overflow: hidden;
}
.footer .li-footer {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
}
.footer .omf-footer {
  margin: 0%;
  padding-bottom: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 130%;
}
.footer .fa-utensils {
  width: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  padding-right: 5px;
}
.footer .fa-handshake-angle {
  width: 20px;
  padding-right: 12px;
}

.footer-contact-deco-none {
  text-decoration: none;
  color: white;
}

/*--------------------HEART-----------------------*/
.i-card-heart-animation, .card-hp-3 .i-card:hover, .card-hp-4 .i-card:hover, .card-hp-1 .i-card:hover, .card-hp-2 .i-card:hover {
  -webkit-text-stroke: 2px #000000;
  background: #9356dc;
  background-position: bottom;
  background: -webkit-repeating-linear-gradient(0deg, #ff79da, #9356dc);
  background: repeating-linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heart 1s ease-in-out forwards;
  animation: heart 1s ease-in-out forwards;
}

.i-card-p-animation, .i-card-p:hover {
  -webkit-text-stroke: 2px #000000;
  background: #9356dc;
  background-position: bottom;
  background: -webkit-repeating-linear-gradient(0deg, #ff79da, #9356dc);
  background: -moz-repeating-linear-gradient(0deg, #ff79da, #9356dc);
  background: repeating-linear-gradient(0deg, #ff79da, #9356dc);
  background-position: bottom 0px center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart 1s ease-in-out forwards;
}

/*-----------------anim empty-------------*/
@-webkit-keyframes heart {
  from {
    /*background-position: 0% 0%;*/
    height: 0px;
  }
  to {
    /* background-position: 100% 100%;*/
    height: 30px;
  }
}
@keyframes heart {
  from {
    /*background-position: 0% 0%;*/
    height: 0px;
  }
  to {
    /* background-position: 100% 100%;*/
    height: 30px;
  }
}
/*---------------------anim baloon--------------*/
@-webkit-keyframes test {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes test {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}
/*-------------------------------SPAWN--------------------------------------*/
.spawn-meal-1, .starter {
  -webkit-animation: spawn-item 0.5s;
  animation: spawn-item 0.5s;
}

.spawn-meal-2, .main-course {
  -webkit-animation: spawn-item 1.5s;
  animation: spawn-item 1.5s;
}

.spawn-meal-3, .dessert {
  -webkit-animation: spawn-item 2.5s;
  animation: spawn-item 2.5s;
}

/*--------------------spwan-item--------------------------*/
@-webkit-keyframes spawn-item {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}
@keyframes spawn-item {
  0% {
    transform: translatey(20px);
    opacity: 0%;
  }
  100% {
    transform: translatey(0px);
    opacity: 100%;
  }
}
/*-------------------------COCHE--------------------*/
.card-dish-animation, .card-dish {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  height: 70px;
  width: 100%;
  box-shadow: 5px 5px 2px #e5e5e5;
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
.card-dish-animation .dish-text, .card-dish .dish-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  padding-left: 15px;
}
.card-dish-animation .dish-1, .card-dish .dish-1, .card-dish-animation .dish-2, .card-dish .dish-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-bottom: 5px;
  margin: 0;
}
.card-dish-animation .price, .card-dish .price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
  display: flex;
  height: 55%;
  align-items: flex-end;
  padding-right: 4%;
  padding-left: 20px;
  transform: translateX(0px);
  transition: 0.5s linear;
}
.card-dish-animation .i-c-g, .card-dish .i-c-g {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  background: #99e2d0;
  width: 0px;
  height: 70px;
  transform-origin: right;
  transform: translateX(0);
  transition: 0.5s linear;
}
.card-dish-animation .i-coche, .card-dish .i-coche {
  font-size: 100%;
  background: white;
  color: white;
  background: #99e2d0;
  transform: rotate(0deg);
  opacity: 0;
  transition: 0.5s linear;
}
.card-dish-animation:hover .dish-text, .card-dish:hover .dish-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  padding-left: 15px;
}
.card-dish-animation:hover .dish-1, .card-dish:hover .dish-1, .card-dish-animation:hover .dish2, .card-dish:hover .dish2 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  margin: 0;
}
.card-dish-animation:hover .price, .card-dish:hover .price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 55%;
  align-items: flex-end;
  padding-left: 20px;
  transform: translateX(0px);
  transition: 0.5s linear;
}
.card-dish-animation:hover .i-c-g, .card-dish:hover .i-c-g {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  background: #99e2d0;
  width: 80px;
  height: 70px;
  transform: translateX(1);
  transition: 0.5s linear;
}
.card-dish-animation:hover .i-coche, .card-dish:hover .i-coche {
  font-size: 100%;
  display: flex;
  color: white;
  background: #99e2d0;
  transform: rotate(360deg);
  transition: 0.5s linear;
  opacity: 1;
}

/*
  @keyframes testtranslate{
    0% {
      transform: scaleX(0);
  }
  17% {
      transform: scaleX(.18);
  }
  24% {
      transform: scaleX(.4);
  }
  46% {
      transform: scaleX(.81);
  }
  100% {
      transform: scaleX(1);

  }

  }

  /*----------------------Anim coche -------------------------*/
/*
 @-webkit-keyframes coche{
   0% {
     transform: translateX(0px);

   }
   20% {
     transform: translateX(10px); 
   }
 30% {
     transform: translateX(20px);
 }
 40% {
     transform: translateX(30px);
 }
 50% {
     transform: translateX(40px);
 }
  60%{
   transform: translateX(50px);
  }

  80%{ transform: translateX(60px); 

  } 
  100%{
   transform: translateX(70px);
  }
 }
 @keyframes coche{
   0% {
     transform: translateX(0px);
   }
   20% {
     transform: translateX(10px); 
   }
 30% {
     transform: translateX(20px);
 }
 40% {
     transform: translateX(30px);
 }
 50% {
     transform: translateX(40px);
 }
  60%{

   transform: translateX(50px);
  }
  80%{ transform: translateX(60px);  
  }
  100%{

   transform: translateX(70px);
  }
 }


*/
/*-------------------loader----------------*/
.body-load {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-animation: load-out 3s forwards;
  animation: load-out 3s forwards;
}

.test-fixe {
  position: relative;
}

.un {
  z-index: 110;
  display: flex;
  width: 220px;
  height: 220px;
  background: #9356dc;
  border-radius: 50%;
  border: 40px solid #ff79da;
  border-top-color: #9356dc;
  border-bottom-color: #99e2d0;
  animation: spin 3s linear infinite reverse;
}

.de {
  display: flex;
  width: 140px;
  height: 140px;
  background: #ff79da;
  border-radius: 50%;
  border: 40px solid #ff79da;
  border-top-color: #9356dc;
  border-bottom-color: #99e2d0;
  animation: spin 2s linear infinite;
}

.de- {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #99e2d0;
  border-radius: 50%;
  background: #9356dc;
  border-radius: 50%;
  border: 40px solid #ff79da;
  border-top-color: #9356dc;
  border-bottom-color: #99e2d0;
  animation: spin 2s linear infinite reverse;
}

.i-l {
  z-index: 120;
  position: absolute;
  transform-origin: 15px 40px;
  right: 137px;
  bottom: 135px;
  font-size: 100%;
  -webkit-text-stroke: 2px white;
  stroke-dasharray: 20 20;
  stroke-dashoffset: 10;
  background: -webkit-repeating-linear-gradient(90deg, #ff79da, #9356dc);
  background: repeating-linear-gradient(90deg, #ff79da 50%, #9356dc 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: spin-2 3s linear infinite;
}

.i-l::before {
  font-size: 200%;
  -webkit-text-stroke: 2px white;
  background: -webkit-repeating-linear-gradient(90deg, #ff79da, #9356dc);
  background: repeating-linear-gradient(90deg, #ff79da 50%, #9356dc 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    display: none;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    display: none;
  }
}
@keyframes spin-2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
    display: none;
  }
}
@-webkit-keyframes spin-2 {
  0% {
    transform: rotate(360deg);
    transform: rotateY(0deg);
  }
  100% {
    transform: rotate(0deg);
    transform: rotateY(0deg);
    display: none;
  }
}
@-webkit-keyframes load-out {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0.9;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
@keyframes load-out {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 0.9;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
/*-------------------------------fin lOAD--------------------------*/
a {
  text-decoration: none;
  color: black;
}

.body-pages {
  width: 100%;
  height: 100%;
}

.top-pic-page {
  width: 100%;
  height: 245px;
  justify-content: center;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  border-radius: 30px 30px 0 0;
  margin-top: 200px;
  padding: 0 15px 0 15px;
}

.title-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 120%;
  padding: 36px 0px 0px 0px;
  margin-right: 5px;
}

.name-rest {
  display: flex;
  justify-content: left;
  margin: 0;
}

.i-card-p {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 40px;
  height: 33px;
  padding-right: 5%;
  color: white;
  -webkit-text-stroke: 2px #000000;
}
.i-card-p::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 33px;
}

.title-meal {
  margin-bottom: 30px;
  margin-top: 40px;
}

hr {
  text-align: left;
  width: 50px;
  position: absolute;
  color: #99e2d0;
  height: 3px;
  background: #99e2d0;
  border: none;
}

.nav-button {
  padding: 20px 0 50px 0;
}

@media screen and (min-width: 715px) {
  .top-pic-page {
    height: 335px;
  }

  .main {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 290px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
  }

  .title-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 120%;
    padding: 36px 0 0 0px;
  }

  .i-card-p {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40px;
    height: 33px;
    padding: 0;
  }
  .i-card-p:hover {
    -webkit-text-stroke: 2px #000000;
    background: #9356dc;
    background-position: bottom;
    background: -webkit-repeating-linear-gradient(45deg, #ff79da, #9356dc);
    background: -moz-repeating-linear-gradient(90deg #ff79da, #9356dc);
    background: repeating-linear-gradient(90deg, #ff79da, #9356dc);
    background-position: bottom 0px center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart 2s;
  }

  .starter, .main-course, .dessert {
    display: flex;
    flex-direction: column;
    width: 48%;
  }

  .nav-button {
    padding: 20px 0 50px 0;
    background-color: #f6f6f6;
  }
}
@media screen and (min-width: 950px) {
  .body-pages {
    width: 100%;
    height: auto;
  }

  .top-pic-page {
    height: 520px;
    top: 0;
  }

  .title-page {
    justify-content: center;
  }

  .name-rest {
    padding-left: 20%;
  }

  .main {
    margin-top: 440px;
  }

  .i-card-p {
    margin-left: 15%;
  }
  .i-card-p:hover {
    -webkit-text-stroke: 2px #000000;
    background: #9356dc;
    background-position: bottom;
    background: -webkit-repeating-linear-gradient(45deg, #ff79da, #9356dc);
    background: -moz-repeating-linear-gradient(90deg #ff79da, #9356dc);
    background: repeating-linear-gradient(90deg, #ff79da, #9356dc);
    background-position: bottom 0px center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart 2s;
  }
}
@media screen and (min-width: 1200px) {
  .top-pic-page {
    height: 570px;
  }

  .main {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 480px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
  }

  .title-page {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 120%;
    padding: 36px 0 0 15px;
  }

  .name-rest {
    padding-left: 12%;
  }

  .i-card-p {
    display: flex;
    margin: 0;
    padding-left: 10%;
    color: white;
    -webkit-text-stroke: 2px #000000;
  }
  .i-card-p:hover {
    -webkit-text-stroke: 2px #000000;
    background: #9356dc;
    background-position: bottom;
    background: -webkit-repeating-linear-gradient(0deg, #ff79da, #9356dc);
    background: -moz-repeating-linear-gradient(0deg, #ff79da, #9356dc);
    background: repeating-linear-gradient(0deg, #ff79da, #9356dc);
    background-position: bottom 0px center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: heart 2s;
  }

  .starter, .main-course, .dessert {
    display: flex;
    flex-direction: column;
    width: 32%;
  }
}

/*# sourceMappingURL=style.css.map */
