


.button-nav{
    
    @include mobile-layout;
     margin-top: 15px;
     .button-explore-home{
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     max-width: 320px;
     width: 65%;
     height: 60px;
     border-radius: 30px;
     color: white;
     @include button-bkg-linear;
     @include button-box-shadow; 
     
     &:hover{
      @include button-hover-ligthen-boxshadow;
     
     }

    
     
    .span-button-home{
        font-size: 110%;
        text-align: center;
    }

 }   
 }

 .button-place-order{
    @include mobile-layout;
    height: 100%;
    
    .click{
        display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     max-width: 300px;
     width: 65%;
     height: 60px;
     background: linear-gradient($secondary,$primary);
     border-radius: 30px;
     color: white;
     @include button-box-shadow ; 
     &:hover{
      @include button-hover-ligthen-boxshadow;
      
     }
     
    .span-button-order{
        font-size: 110%;
        text-align: center;
    }

    }
   

   













 }