@mixin button-bkg-linear {
   background:  linear-gradient($secondary,$primary);

}
@mixin button-box-shadow {
    box-shadow: 5px 10px 0px #e5e5e5; 
    
}

  @mixin button-hover-ligthen-boxshadow{
    filter: brightness(1.2);
    box-shadow: 5px 10px 0px darken($color:  #e5e5e5, $amount: 30);
  }



.button-nav{
    
    @include mobile-layout;
     margin-top: 15px;
     .button-explore-home{
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     width: 65%;
     height: 60px;
     border-radius: 30px;
     color: white;
     @include button-bkg-linear;
     @include button-box-shadow; 
     
     &:hover{
      @include button-hover-ligthen-boxshadow;
     
     }

    
     
    .span-button-home{
        font-size: 110%;
        text-align: center;
    }

 }   
 }

 .button-place-order{
    @include mobile-layout;
    height: 100%;
    
    .click{
        display: flex;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     width: 65%;
     height: 60px;
     background: linear-gradient($secondary,$primary);
     border-radius: 30px;
     color: white;
     @include box-shadow; 
     &:hover{
      @include button-hover-ligthen-boxshadow;
      
     }
     
    .span-button-order{
        font-size: 110%;
        text-align: center;
    }

    }
   

   













 }