@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&family=Roboto&family=Shrikhand&display=swap");
/*@import url("https://kit.fontawesome.com/e440ae1359.js");*/
* {
    font-family: "Roboto", sans-serif;
  }
  

  h1,h5{
    font-family: "Shrikhand", cursive;
    
  }
  h3,h2,h4{
    font-family: "Roboto", sans-serif;
  }
 
  $primary : #9356dc;
  $secondary : #ff79da;
  $tertiary : #99e2d0
