.intro{
    margin-bottom: 100px;
}



.research-loc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background:#eaeaea ;

    &__fa-solid fa-location-dot{
       
        background: red;
       
    }    
}

.reservation{
    @include mobile-layout;
    height: 160px;

    .tit-reser{
        @include mobile-layout;
        height: 100px;
        margin-top: 45px;
        margin-bottom: 0;
        padding-right: 25px ;
        font-size: 145%;
        font-weight: bold;
       
    }
    p{
        @include mobile-layout;
        margin:  0;
       
    }
    
}
.button-nav{
    @include mobile-layout;
    margin-top: 30px;
.button-explore-home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 60%;
    height: 50px;
    background: linear-gradient($secondary,$primary);
    border-radius: 30px;
    color: white;
    @include box-shadow;      
}   
}

.tuto{
    height: 320px;
    margin-bottom: 50px;
    @include margin-hp;
 
    .tit-fonc{
        display: flex;
        width: 100%;
        height: 50px;
        font-size: 140%;
        font-weight: bolder;   
    }
    .fonc-p1, .fonc-p2, .fonc-p3{
        @include mobile-layout;
        @include tuto-card;
        
    }
}

.resto{
    background-color:#f6f6f6 ;
    padding:55px 20px 65px 20px;
    
    .tit-resto{
        width: 100%;
        height: 30px;
        margin-bottom: 0;
    }
 
}

.card-hp{
    @include resto-card-hp;   
}

.card-hp-new{
    @include resto-card-hp-new;
}