
/*--------------------HEART-----------------------*/


.i-card{
    
    display: block;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
     margin-top: 15px;
     margin-right: 16px;
     margin-left: 5px;
     width: 33px;
     height: 31px;

 }

.i-card {
    
    color: white;
    -webkit-text-stroke: 2px #000000;
    &:hover{
        -webkit-text-stroke: 2px #000000;

        
    background: $primary;
    background: -webkit-repeating-linear-gradient(180deg,
    
      $secondary ,
      $primary 
    );
    background: -moz-repeating-linear-gradient( 180deg
        to top 
      $secondary 50%,
      $primary 50%
    );
    background: repeating-linear-gradient( 180deg
      to top 
      $secondary 50%,
      $primary 50%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: heart 2s ;
    }
  }

.i-card-p {
    
    color: white;
    -webkit-text-stroke: 2px #000000;
    &:hover{
      -webkit-text-stroke: 2px #000000;

        
      background: $primary;
      background: -webkit-repeating-linear-gradient(180deg,
      
        $secondary ,
        $primary 
      );
      background: -moz-repeating-linear-gradient( 180deg
          to top 
        $secondary 50%,
        $primary 50%
      );
      background: repeating-linear-gradient( 180deg
        to top 
        $secondary 50%,
        $primary 50%
      );
  
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    animation: test 2s ;
    }
}
/*-----------------anim empty-------------*/
@keyframes heart{
    from{ 
       
        height: 0px; 
        
    }
  to{
      
      height: 30px;
  }

}

/*---------------------anim baloon--------------*/
 @keyframes test {
      from{
        transform-origin: 50% 80%;
        transform: scale(0);       
      }

   to{
    transform: scale(1);
   }
  }
  

  /*-------------------------COCHE--------------------*/
  .card-dish{ 
    
    .i-coche{
      visibility: hidden;
      color: $tertiary;
      background: $tertiary;
      
    }
    
  
    &:hover{
      .dish-text{
        display: block;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        padding-left: 15px;
        
      }
      .dish-1,.dish2{
        display: block;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        padding-bottom: 5px;
        margin:0;
  
      }
      .price{
        
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        height: 55%;
        align-items: flex-end;
        padding-right: 15px;
        animation: coche reverse ease-in-out 0.5s ;
       
      }

  .i-c-g{
    
    display: flex;
    align-items:center ;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    background: $tertiary;
    width: 70px;
    height: 70px;
    
    /*transition: transform 0.2s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out*/
    animation: coche reverse ease-in-out 0.5s;

  }

  .i-coche{

    visibility: visible;
    display:flex;
    color: white;
    background: $tertiary;
   transform: rotate(-360deg);
    transition: 0.8s ease-in-out; 
   
  }
  
  }
}
  
 @keyframes load-pages{
   from{
    transform: translateY(20px);
    opacity: 0%;}
   to 
    {
      transform: translateY(0px);
      opacity: 100%;

    }
 }

/*
  @keyframes testtranslate{
    0% {
      transform: scaleX(0);
  }
  17% {
      transform: scaleX(.18);
  }
  24% {
      transform: scaleX(.4);
  }
  46% {
      transform: scaleX(.81);
  }
  100% {
      transform: scaleX(1);

  }

  }
  */
  /*----------------------Anim coche -------------------------*/
  @keyframes coche{
    0% {
      transform: translateX(0);
      

    }
    20% {
      transform: translateX(10);
      
    }

  
  30% {
      transform: translateX(20px);
  }
  40% {
      transform: translateX(30px);
  }
  50% {
      transform: translateX(40px);
  }
   70%{

    transform: translateX(50px);
   }
 
   95%{ transform: translateX(55px);
    opacity: 1;

   }

  100% {
      transform: translateX(60px);
      opacity: 1;
  }

  }


 