
/*--------------------HEART-----------------------*/
.i-card-heart-animation{
    -webkit-text-stroke: 0px #000000;
    background: $primary ;
    background-position: bottom;
    background: -webkit-repeating-linear-gradient(0deg, $secondary, $primary);
    background: repeating-linear-gradient(0deg, $secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    -webkit-animation: heart  1s ease-in-out forwards;
    animation: heart  0.5s ease-in-out forwards; 
    
    }
     
.i-card-p-animation {
 
      -webkit-text-stroke: 0px #000000;
      background: $primary;
      background-position: bottom;
      background: -webkit-repeating-linear-gradient(45deg, $secondary,$primary );
      background: -moz-repeating-linear-gradient(45deg,  $secondary, $primary);
      background: repeating-linear-gradient(45deg, $secondary, $primary);
      background-position: bottom 0px center;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: heart 0.5s ease-in-out forwards ;  

}




/*-----------------anim empty-------------*/
@-webkit-keyframes heart{
    from{ 
      /*background-position: 0% 0%;*/
      height: 30px;
      opacity: 0;
    
    }
  to{
   /* background-position: 100% 100%;*/
    height: 30px;
    opacity: 1;
    
  }
}
@keyframes heart{
    from{ 
      /*background-position: 0% 0%;*/
      height: 30px;
      opacity: 0;
    
    }
  to{
   /* background-position: 100% 100%;*/
    height: 30px;
    opacity: 1;
   
  }
}

/*---------------------anim baloon--------------*/
 @-webkit-keyframes test {
      0%{
        
        transform: scaleX(0.1);       
      }
    
     
   100%{

    transform: scaleX(1);
   }
  }
 @keyframes test {
      0%{
        
        transform: scaleX(0.1);       
      }
    
     
   100%{

    transform: scaleX(1);
   }
  }
  
/*-------------------------------SPAWN--------------------------------------*/

  .spawn-meal-1{
    -webkit-animation: spawn-item 0.5s;
            animation: spawn-item 0.5s;
  }
  
  .spawn-meal-2{
    -webkit-animation: spawn-item 1.5s;
            animation: spawn-item 1.5s;

  }

  .spawn-meal-3{
    -webkit-animation: spawn-item 2.5s;
            animation: spawn-item 2.5s;
  }
  /*--------------------spwan-item--------------------------*/


@-webkit-keyframes spawn-item  {
  
  0% {
    
    transform: translatey(20px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0px);
    opacity: 100%;
    
    
  }   
}

@keyframes spawn-item  {
  
  0% {
    
    transform: translatey(20px);
    opacity: 0%;
  }

  100% {
    transform: translatey(0px);
    opacity: 100%;
    
    
  }
  
}
  
 /*-------------------------COCHE--------------------*/


 .card-dish-animation{
 
   
  cursor: pointer;
  white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
  display:flex;
  height: 70px;
  width: 100%;
  @include box-shadow;
  @include background-white;
  border-radius: 20px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;

  .dish-text{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
   display: inline-block;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    padding-left: 15px;
    
  }
  .dish-1,.dish-2{
    
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block;
    padding-bottom: 5px;
    margin:0;

  }
  .price{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    display: flex;
    height: 55%;
    align-items: flex-end;
    padding-right: 4%;
    padding-left:20px ;
    transform: translateX(0px) ;
    transition: $duration-anim-coche linear;
  }
  .i-c-g{
    
    display: flex;
    align-items:center ;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
    background: $tertiary;
    width: 0px;
    height: 70px;
    transform-origin: right;
    transform: translateX(0);
    transition: $duration-anim-coche linear;
    
  }
  .i-coche{
    font-size:150%;
    background: white;
    color: white;
    background: $tertiary;
    transform: rotate(0deg);
    opacity: 0;
    transition: $duration-anim-coche linear;
    

    
  }
  &:hover{

      .dish-text{
        display: block;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        padding-left: 15px;
        
      }
      .dish-1,.dish2{
        display: block;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        padding-bottom: 5px;
        margin:0;
  
      }
      .price{
        
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        height: 55%;
        align-items: flex-end;
        padding-left: 20px;
        transform: translateX(0px) ;
        transition: $duration-anim-coche linear;
        
      }

      .i-c-g{
      cursor: pointer;
      display: flex;
      align-items:center ;
      justify-content: center;
      border-radius: 0px 15px 15px 0px;
      background: $tertiary;
      width: 80px;
      height: 70px;
      transform: translateX(1);
      transition: $duration-anim-coche linear;
      
    }

    .i-coche{
    font-size: 150%;
    display:flex;
    color: white;
    background: $tertiary;
    transform: rotate(360deg) ;
    transition: $duration-anim-coche linear;
    opacity: 1;
    
    
    }
  }
}
 
  

/*
  @keyframes testtranslate{
    0% {
      transform: scaleX(0);
  }
  17% {
      transform: scaleX(.18);
  }
  24% {
      transform: scaleX(.4);
  }
  46% {
      transform: scaleX(.81);
  }
  100% {
      transform: scaleX(1);

  }

  }

  /*----------------------Anim coche -------------------------*/
  /*
  @-webkit-keyframes coche{
    0% {
      transform: translateX(0px);
    
    }
    20% {
      transform: translateX(10px); 
    }
  30% {
      transform: translateX(20px);
  }
  40% {
      transform: translateX(30px);
  }
  50% {
      transform: translateX(40px);
  }
   60%{
    transform: translateX(50px);
   }
 
   80%{ transform: translateX(60px); 

   } 
   100%{
    transform: translateX(70px);
   }
  }
  @keyframes coche{
    0% {
      transform: translateX(0px);
    }
    20% {
      transform: translateX(10px); 
    }
  30% {
      transform: translateX(20px);
  }
  40% {
      transform: translateX(30px);
  }
  50% {
      transform: translateX(40px);
  }
   60%{

    transform: translateX(50px);
   }
   80%{ transform: translateX(60px);  
   }
   100%{

    transform: translateX(70px);
   }
  }


 */



 /*-------------------loader----------------*/


 .body-load{
   z-index: 100;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   background: black;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
   -webkit-animation: load-out 3s forwards;
           animation: load-out 3s forwards;
 }

  .test-fixe{
    position: relative;

  }
 .un{ 
  
  z-index: 110;
  display: flex;
    width: 220px;
    height: 220px;
    background: $primary;
    border-radius: 50%;
    border: 40px solid $secondary;
    border-top-color: $primary;
    border-bottom-color: $tertiary;
    animation: spin 3s linear infinite reverse ;

  }

 .de{
  
   display: flex;
    width: 140px;
    height: 140px;
    background: $secondary;
    border-radius: 50%;
    border: 40px solid $secondary;
    border-top-color: $primary;
    border-bottom-color: $tertiary;
    animation: spin 2s linear infinite   ;
    
}
  
 .de-{
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $tertiary;
  border-radius: 50%;
  background: $primary;
  border-radius: 50%;
  border: 40px solid $secondary;
  border-top-color: $primary;
  border-bottom-color: $tertiary;
 animation: spin 2s linear infinite reverse ;
  
  
   }


   .i-l{
     z-index: 120;
     position: absolute;
     transform-origin: 15px 40px;
     right: 137px;
     bottom: 135px;
    font-size: 100%;
    -webkit-text-stroke: 2px white;
    stroke-dasharray: 20 20;
    stroke-dashoffset: 10;
    background: -webkit-repeating-linear-gradient(90deg ,$secondary, $primary);
    background: repeating-linear-gradient(90deg, $secondary 50%, $primary 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: spin-2 3s linear infinite   ;
   
   }

   .i-l::before{
    font-size: 200%;
    -webkit-text-stroke: 2px white;
    background: -webkit-repeating-linear-gradient(90deg, $secondary ,$primary);
    background: repeating-linear-gradient(90deg, $secondary 50%, $primary 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

   }

@keyframes spin {
 0% {
   transform:rotate(360deg);
   
 }
100% {
  transform:rotate(0deg);
 display: none;
}

}

@-webkit-keyframes spin {
  0% {
    transform:rotate(360deg);
    
  }
 
 100% {
  transform:rotate(0deg);
  display: none;
 }
 
 } 

@keyframes spin-2 {
  0% { 
    
    
    transform: rotateY(0deg);
  }
 100% {
 
  transform: rotateY(360deg);
  display: none;
 }
 
 }
 
 @-webkit-keyframes spin-2 {
  0% { 
    
    transform: rotate(360deg);
    transform: rotateY(0deg);
  }
 
 100% {
  transform:rotate(0deg);
  transform: rotateY(0deg);
  display: none;
 }
 
}

 
 @-webkit-keyframes load-out {
  0%{
    opacity: 1;

  }
  95%{
    opacity: 0.9;
    z-index: 100;
  }
  100%{
   opacity: 0;
   z-index: -100;
 
  }
}
 @keyframes load-out {
  0%{
    opacity: 1;

  }
  95%{
    opacity: 0.9;
    z-index: 100;
  }
  100%{
   opacity: 0;
   z-index: -100;
 
  }
}
/*-------------------------------fin lOAD--------------------------*/






