@mixin title-omf-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*
@mixin block-4-card {
    .card-dish{
        display:flex;
        height: 70px;
        width: 90%;
        @include box-shadow;
        @include background-white;
        border-radius: 20px;
        margin-bottom: 15px;
        align-items: center;
        padding: 15px 20px 15px 15px;
        justify-content: space-between;
      
        .dish-text{
          display: flex;
          flex-direction: column;
          width: 90%;
          height: 100%;
          justify-content: space-between;
          
        }
        .dish-1,.dish2{
          display: flex;
          justify-content: space-between;
        }
        .price{
          display: flex;
          height: 100%;
          align-items: flex-end;
        }
      }
    
}*/