/* MIXINS HOMEPAGE VERSION MOBILE */
@mixin title-omf {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile-layout {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;

}

@mixin margin-hp {
    margin-left: 20px;
    margin-right: 20px;
    
}

@mixin box-shadow {
    box-shadow: -10px 10px 2px #e5e5e5; 
    
}

@mixin box-shadow-desktop {
    box-shadow : (-10px 30px 10px #dbd9d9);    
}

@mixin hover-ligthen-boxshadow{
    filter: brightness(1.2);
    box-shadow: 10px 7px 7px darken($color:  #e5e5e5, $amount: 30)
  }
  
@mixin background-grey {
    background-color:#f6f6f6 ;
}


@mixin background-white{
    background: #ffffff;
}
$background-white : #ffff;




@mixin tuto-card{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 75%;
    height: 75px;
    margin: 0 0 20px 10px;
    background: #f6f6f6 ;
    border-radius: 20px;
    @include box-shadow;
    padding-right:20% ;
    justify-content: left;
    font-weight: bold;
    &:hover { 
        background: #f5edff;
        cursor: pointer;
    }

    .num-fonc-tuto{
        display: flex;
        position: absolute;
        left: -10px;
        width: 25px ;
        height: 25px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background: $primary;
        color:#ffff ;
        
    }
   .fa-list,.fa-store, .fa-mobile-alt{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 30px;
        padding-left: 15%;
        padding-right: 8%;
        color: #7e7e7e;
            
    }
   

}


@mixin resto-card-hp-new{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 245px;
    margin-top: 20px;
    @include box-shadow;
    border-radius: 10px;
    text-decoration: none;
    color: black;
     .card-hp-main{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 245px;
    margin-top: 20px;
    @include box-shadow;
    border-radius: 10px;
    text-decoration: none;
    color: black;


     }
    .pic-main{
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;

    }
    .sticker-new{
        display: flex;
        width: 100%;
        height: 170px;
        border-radius: 10px;
        justify-content: right;
    }
    .new-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 10px;
        margin-right: 10px;
        width: 80px;
        height: 30px;
        border-radius: 5px;
        color: #008766;
        background-color:$tertiary;  
        
    }

    .description{
        display: flex;
        flex-direction: row;
       width: 97%;
       height: 75px;
        @include background-white;
        padding: 15px;
        border-radius: 20px;
        justify-content: space-between;
    }
    .text-description{
        display: flex;
       flex-direction: column;
       width: 100%;
       justify-content:left;
       align-items: center;
       justify-content: space-between;
      
       

    }

    .name-rest-hp{
        display: flex;
        width: 100%;
        margin: 0;     
        
    }
    .localisation{
        display: flex;
        width: 100%;
        
    
    }

    .i-card {
       
        cursor:pointer;
        justify-content: center;
        align-content: center;
        padding-right: 30px;
        padding-top: 5px;
         width: 33px;
         height: 31px;
        color: white;
        -webkit-text-stroke: 2px #000000;
        &:hover{
        @extend .i-card-heart-animation;
        }
    }
}



@mixin resto-card-hp-new-hidden{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    @include box-shadow;
    border-radius: 20px;
    text-decoration: none;
    color: black;

    .sticker-new{
        display: flex;
        width: 100%;
        height: 170px;
        border-radius: 10px;
        justify-content: right;
    }
    .new-menu{
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .pic-main{
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;

    }
    .description{
        display: flex;
        flex-direction: row;
       width: 97%;
       height: 75px;
        @include background-white;
        padding: 15px;
        border-radius: 20px;
        justify-content: space-between;
    }
    .text-description{
        display: flex;
       flex-direction: column;
       width: 100%;
       justify-content:left;
       align-items: center;
       justify-content: space-between; 

    }

    .name-rest-hp{
        display: flex;
        width: 100%;
        margin: 0;     
        
    }
    .localisation{
        display: flex;
        width: 100%;
        
    
    }
    
    .i-card {
   
        cursor:pointer;
        display: block;
        justify-content: center;
        align-content: center;
        padding-right: 30px;
        padding-top: 5px;
         width: 33px;
         height: 31px;
        color: white;
        -webkit-text-stroke: 2px #000000;
        
        &:hover{
            @extend .i-card-heart-animation;
            }
 
    }
 
}

